@import url('https://fonts.googleapis.com/css?family=Lobster');

p {
  font-family: 'Lobster', serif;
  font-size: 12px; color: rgb(151, 64, 27);
}
span {
  display: none
}

#Chron {
  display: inline;
  background-image: url('https://d.radikal.ru/d41/1811/d1/2b939919f220.png') no-repeat;
  height: 35px;
  width: 83px;
  object-fit: contain;
}

#Chron:hover {
  display: inline;
  background-image: url('https://c.radikal.ru/c19/1811/78/1174d89d4987.png') no-repeat;
  height: 35px;
  width: 83px;
  object-fit: contain;
}
